/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
*/

$boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 25px 0px;
$boxShadowPrimary: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$bgColorPrimary: #e7ebec