/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.header {
  background-color: $bgColorPrimary;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1rem 0;
  // border: .1rem solid salmon;

  .wrapContainer {
    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // position: relative;

      .colLeft {
        display: flex;
        align-items: center;
        gap: 1rem;

        .logo {
          // width: 5rem;
          // height: 5rem;
          // border: .1rem solid salmon;

          img {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
        }

        .title {
          h2 {
            font-size: 2rem;
          }
        }
      }

      .colMid {
        @include tablet {
          display: none;
        }

        .close {
          display: none;

          @include tablet {
            display: inline-block;
            background-color: red;
            // padding: .5rem;
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: absolute;
            right: 1rem;
            top: 2rem;

            .icon {
              width: 2rem;
              height: 2rem;
            }
          }

        }

        nav {
          // border: .1rem solid salmon;
          padding: 2rem;
          border-radius: 2rem;
          background-color: #fff;
          box-shadow: $boxShadowPrimary;
          // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

          @include tablet {
            width: 100%;
          }

          ul {
            display: flex;
            list-style: none;
            gap: 2rem;

            li {
              a {
                font-size: 1.6rem;
                text-decoration: none;
                color: grey;

                // @include tablet {
                //   color: white;
                // }
              }

              a.on {
                color: #3580c7;
                position: relative;
                font-weight: 700;

                &::after {
                  content: '';
                  height: .5rem;
                  width: 100%;
                  background-color: #3580c7;
                  border-radius: .2rem;
                  color: grey;
                  position: absolute;
                  left: 0;
                  bottom: -1rem;
                  margin: 0 auto;
                }
              }
            }
          }

          ul.on {
            flex-direction: column;
            gap: 3rem;
          }
        }
      }

      .colMid.on {
        display: block;
        // border-left: .01rem solid grey;
        position: absolute;
        right: 0;
        top: 0rem;
        padding: 5rem 2rem;
        height: 100vh;
        min-width: 20rem;
        background-color: #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      }

      .colRight {
        @include tablet {
          display: none;
        }

        ul {
          display: flex;
          gap: 1rem;
          list-style: none;

          li {
            a {
              .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10rem;
                font-size: 1.6rem;
                gap: 1rem;
                padding: .7rem 1rem;
                border-radius: .5rem;
                outline: none;
                border: none;
                // border: .01rem solid #099739;
                cursor: pointer;
                background-color: #fff;
                // box-shadow: $boxShadowPrimary;

                .icon {
                  width: 2rem;
                }
              }

              .btn.btnCart {
                // background-color: #3580c7;
              }

              .btn.btnLogin {
                // background-color: #3580c7;
              }
            }
          }
        }
      }

      .colRight.on {
        display: block;
        z-index: 9;
        border: .1rem solid salmon;
        position: absolute;
        bottom: 0;
        right: 0;
        // width: 100%;

        ul {
          display: flex;
          flex-direction: column;

          li {

            button {
              background-color: #3580c7;
              color: white;
              width: 15rem;
            }
          }
        }
      }

      .btnMenu {
        display: none;

        @include tablet {
          // position: absolute;
          // bottom: 8rem;
          // right: 6rem;
          border: .1rem solid grey;
          padding: 1.5rem;
          border-radius: .5rem;
          box-shadow: $boxShadow;
          display: block;
          cursor: pointer;
        }

        .iconMenu {
          font-size: 2rem;
        }
      }


    }
  }
}